<div class="container-fluid header-container">

    <div class="row">
        <div class="col-md-6 header-box header-left">
            <div class="row justify-content-center">
                <div class="col-md-11 col-xl-10 header-left-block">
                    <p class="white-text header-date">24 марта | Киев</p>
                    <p class="white-text header-sm-text">Живой тренинг Юлии Гайворонской</p>
                    <h1 class="white-text header-h">Реальный <span class="black">секс</span></h1>
                    <p class="white-text bold header-under-h">То, о чем ты хотела знать, но боялась спросить</p>
                    <p class="white-text italic uppercase">Откровенно о сокровенном<br>по-взрослому<br> Без Пошлости,
                        Скромности и<br>
                        Цензуры</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 header-box header-right ">
            <div class="row justify-content-center">
                <div class="col-md-11 col-xl-10 header-right-block">
                    <!-- <div class="row"> -->
                        <div class="col-12 top-case">
                            <p class="white-text uppercase medium">Регистрируйся в течение 8 минут и получи бонус:</p>
                        </div>
                        <div class="row ">
                            <div class="col-12 mid-case">
                                <div class="row ">
                                    <div class="col-3 align-self-center">
                                        <img src="img/present-pdf.png" alt="present-pdf" class="header-book-img">
                                    </div>
                                    <div class="col-7 col-md-6 text-book-col align-self-center">
                                        <p class="header-book-text white-text bold">PDF-методичка по оральному сексу</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row relative">

                                    <div class="col-12 col-md-11 timer-case text-center">
                                        <div class="row justify-content-around ">
                                            <div class="col-3">
                                                <p id="time-hour" class="white-text timer-value bold">00&nbsp:</p>
                                                <p class="white-text timer-text">час.</p>
                                            </div>
                                            <div class="col-3">
                                                <p id="time-min" class="white-text timer-value bold">08:</p>
                                                <p class="white-text timer-text">мин.</p>

                                            </div>
                                            <div class="col-3">
                                                <p id="time-sec" class="white-text timer-value bold">00:</p>
                                                <p class="white-text timer-text">сек.</p>
                                            </div>
                                            <div class="col-3">
                                                <p id="time-msec" class="white-text timer-value bold">00</p>
                                                <p class="white-text timer-text">м.сек.</p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="arrow-case align-self-center"><img src="img/header-arrow.png" alt="arrow"></div>


                                    <div class="col-12 col-md-11 bot-case">
                                            <button type="submit" class="js-btn header-btn unclick max-width text-center white-text uppercase bold">
                                                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart"
                                                        class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                                                        viewBox="0 0 512 512">
                                                        <path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                                                    </svg>
                                                    Участвую
                                                </button>
                                        <p class="white-text header-sm-text medium">Осталось свободных мест: <span
                                                class="black">68/70</span>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    <!-- </div> -->

                </div>
            </div>

        </div>
    </div>

</div>