<div class="container">
    <div class="row align-items-center justify-content-around">
        <div class="col-md-6 if-you-box if-you-left text-left">
            <h4 class="if-you-h4 main-title">Если ты:</h4>
            <ul class="if-you-list">
                <li class="list-item">Без постоянного партнера - "это" случаетя редко и не приносит
                    удовольствия;</li>
                <li class="list-item">Устала исполнять супружесий долг или хочешь разнообразия, но не знаешь как
                    это преподнести мужу/парню;</li>
                <li class="list-item">Давно без партнера и удоветворяешь себя сама;</li>
                <li class="list-item">Хочешь попробовать пикантные игрушки, но тебе стыдно или не знаешь, с
                    какой начать.</li>
            </ul>
        </div>
        <div class="col-md-6 if-you-box if-you-right">
            <img src="img/if-you-pic.png" alt="#" class="if-you-image">
        </div>
    </div>
</div>