<div class="just-imagine-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 just-imagine-box just-imagine-left">
                <img width="100%" height="100%" src="/img/imagine.gif" alt="imagine-it" class="just-imagine-image">
            </div>
            <div class="col-md-6 just-imagine-box just-imagine-right">
                <h4 class="just-imagine-h4 top-title white-text">А представь:</h4>
                <ul class="just-imagine-list">
                    <li class="list-item white-list white-text">Ты полностью растворяешься в партнере;</li>
                    <li class="list-item white-list white-text">Все нравится и тебе, и ему;</li>
                    <li class="list-item white-list white-text">Кажется, что он читает твои мысли и предугадывает желания;</li>
                    <li class="list-item white-list white-text">Когда оргазмы один за другим, и ты теряешь голову от эмоций и
                        удовольствия;</li>
                    <li class="list-item white-list white-text">Ты без стеснения пробуешь что-то новенькое, и это приности миллоны новых
                        ощущений.</li>
                </ul>
            </div>
        </div>
    </div>
</div>