<div class="container eight-container">
    <div class="row eight-header-row">
        <div class="col-12 col-md-6 eight-hours-box eight-hours-header-left">
            <div class="pink-box">
                <p class="white-text bold">Это феерический, крышесносный и незабываемый секс, о котором ты всегда
                    мечтала. И
                    так каждый раз!</p>
                <p class="white-text medium">Тренинг "Реальный секс" &mdash; о том, как тебе расширить горизонты
                    удовольствий
                    в
                    постели и не только, повысить свою сексуальность и всегда оставаться желанной!</p>
                <p class="white-text medium">На встрече ты узнаешь ответы на вопросы, которые постоянно крутятся у
                    тебя в
                    голове, но которые ты никогда не задаешь маме, сестре и, тем более, партнеру.</p>
            </div>
        </div>

        <div class="col-12 col-md-9 eight-hours-box eight-hours-header-right">

            <img src="img/eight-top.png" alt="citrus" class="eight-hours-image">
        </div>
    </div>


    <div class="row">
        <div class="col">
            <h5 class="eight-hours-h5 main-title bold">После 8&minus;часового живого тренинга ты:</h5>
        </div>
    </div>

    <div class="row align-items-start eight-list-row justify-content-between">
        <div class="col-12 col-md-6 eight-hours-box eight-hours-main-left">
            <ul class="eight-hours-list">
                <li class="list-item medium"><span class="black">Избавишься от блоков -</span> выйдешь уверенной в себе
                    и своей сексуальности.</li>
                <li class="list-item medium"><span class="black">Больше не будешь бояться</span> откровенно говорить с
                    партнером о своих желаниях.</li>
                <li class="list-item medium">Узнаешь, как сделать свой секс в несколько раз ярче и насыщенней.</li>
                <li class="list-item medium"> Сможешь достигать наивысшего наслаждения в процессе и <span class="black">получать
                        по
                        несколько оргазмов за ночь.</span></li>
                <li class="list-item medium"><span class="black">Будешь знать, что и как делать,</span> чтобы твой
                    партнер молил о близости еще и
                    еще.</li>
            </ul>
        </div>
        <div class="col-md-6 eight-hours-box eight-hours-main-right">
            <ul class="eight-hours-list">
                <li class="list-item medium"><span class="black">Получишь 10 мощных техник</span> для незабываемого
                    орального и мануального
                    секса.</li>
                <li class="list-item medium"><span class="black">Узнаешь 6 правил анального секса</span> и основ
                    подготовки, избавишься от
                    страхов, мифов и блоков, из-за которых боялась его пробовать.</li>
                <li class="list-item medium"><span class="black">Составишь карту своих эрогенных зон,</span> чтобы
                    помочь партнеру доставить тебе
                    незабываемое удовольствие.</li>
                <li class="list-item medium"><span class="black">Изучишь 5 массажных техник</span> для активации
                    эрогенных зон мужчины.</li>
            </ul>
        </div>
    </div>

    <div class="row eight-footer-row">
        <div class="col text-center eight-hours-footer">
            <div class="eight-footer-img-box">
                <img src="img/eight-bot.png" alt="man-and-woman-signs" class="eight-hours-footer-img">
            </div>
            <div class="eight-footer-text-box">
                <h4 class="eight-hours-footer-h bold">Этот день<br>разделит твою сексульную жизнь на "До" и "После".</h4>

            </div>
            <button class="js-btn header-btn white-text uppercase unclick"><svg aria-hidden="true" focusable="false"
                    data-prefix="fas" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512">
                    <path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                </svg>Забронировать</button>
        </div>
    </div>
</div>
</div>