<div class="container">
    <div class="row">
        <div class="col-md-6 eight-hours-box eight-hours-header-right">
            <img src="#" alt="#" class="eight-hours-image">
        </div>
        <div class="col-md-6 eight-hours-box eight-hours-header-left">
            <p class="main-text">Это феерический, крышесносный и незабываемый секс, о котором ты всегда мечтала. И
                так каждый раз!</p>
            <p class="main-text">Тренинг "Реальный секс" - о том, как тебе расширить горизонты удовольствий в
                постели и не только, повысить свою сексульность и всегда оставться желанной!</p>
            <p class="main-text">На встрече ты узнаешь ответы на вопросы, которые постоянно крутяться у тебя в
                голове, но которые ты никогда не задаешь маме, сестре и, тем более, партнеру.</p>
        </div>
    </div>


    <div class="row">
        <div class="col text-center">
            <h4 class="eight-hours-h4 main-title">После 8-часового живого тренинга ты:</h4>
        </div>
    </div>

    <div class="row align-items-start">
        <div class="col-md-6 eight-hours-box eight-hours-main-left">
            <ul class="eight-hours-list">
                <li class="list-item">Избавишься от блоков - выйдешь увернной в себе и своей сексуальности.</li>
                <li class="list-item">Больше не будешь боятся откровенно говорить с партнером о своих желаниях.</li>
                <li class="list-item">Узнаешь как сделать свой секс в несколько раз ярче и насыщенней.</li>
                <li class="list-item">Сможешь достигать наивысшего наслаждения в процессе и получать по
                    несколько оргазмов за ночь.</li>
                <li class="list-item">Будешь знать, что и как делать, чтобы твой партнер молил о близости еще и
                    еще.</li>
            </ul>
        </div>
        <div class="col-md-6 eight-hours-box eight-hours-main-right">
            <ul class="eight-hours-list">
                <li class="list-item">Получишь 10 мощных техник для незабываемого орального и мануального
                    секса.</li>
                <li class="list-item">Узнаешь 6 правил анального секса и основ подготовки, избавишься от
                    страхов, мифов и блоков, из-за которых боялась его пробовать.</li>
                <li class="list-item">Составишь карту своих эрогенных зон, чтобы помочь партнеру доставить тебе
                    незабваемое удовольствие.</li>
                <li class="list-item">Изучишь 5 массажных техник для активации эрогенных зон мужчины</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col text-center eight-hours-footer">
            <img src="#" alt="#" class="eight-hours-footer-img">
            <h4 class="eight-hours-footer-h white-text">Этот день разделит твою сексульную жизнь на "До" и "После".</h4>
            <button id="get-in" class="header-btn max-width">Учавствовать</button>
        </div>
    </div>
</div>
</div>