<div class="review-bg">
    <div class="container review-short-container">
        <div class="row">
            <div class="col reviews-short-box">
                <h4 class="reviews-short-h4 main-title text-center">Отзывы</h4>
                <div class="row justify-content-around card-deck">
                    <div class="col-md-6 card reviews-card-item">
                        <div class="card-content">
                            <img src="../img/Reviews/1.jpg">
                        </div>
                        <div class="card-content">
                            <img src="../img/Reviews/3.jpg">
                        </div>
                    </div>
                    <div class="col-md-6 card reviews-card-item">
                        <div class="card-content">
                            <img src="../img/Reviews/2.jpg">
                        </div>
                        <div class="card-content">
                            <img src="../img/Reviews/4.jpg">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4 review-btn-box">
                        <a id="review-a" href="#review-end" class="js-btn review-btn-link "><button class="review-btn white-text uppercase unclick">Смотреть
                                все</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>