<div class="review-bg">
    <div class="container review-short-container">
        <div class="row">
            <div class="col reviews-short-box">
                <h4 class="reviews-short-h4 main-title text-center">Отзывы</h4>
                <div class="row justify-content-around card-deck">
                    <div class="col-md-4 card reviews-card-item text-left">
                        <div class="card-content">
                            <div class="card-head">
                                <img src="../img/review-avatar.png" alt="#" class="card-img-top">
                                <p class="card-title">Аня</p>
                            </div>

                            <p class="card-text medium">На тренинг меня позвала за компанию подруга. Не могу сказать
                                что
                                тема секса была для меня покрыта тайной, но в процессе действительно стало настолько
                                интересно, что хочу ещё! Когда Юлия снова приедет в Днепр - уже я буду тащить подругу)</p>
                        </div>
                    </div>
                    <div class="col-md-4 card reviews-card-item">
                        <div class="card-content">
                            <div class="card-head">
                                <img src="../img/review-avatar.png" alt="#" class="card-img-top">
                                <p class="card-title">Ирэн</p>
                            </div>

                            <p class="card-text medium medium">Я шла на тренинг не ожидая ничего. Потому что думала,
                                что
                                расскажут полную чушь: почувствуй себя богиней, будь страстной кошечкой и т.д. Но
                                получилось вообще иначе. Юлия понятно и открыто говорила о сексе, о реальном, а не том,
                                что
                                в кино и в рассказах. И развенчала мифы об анальном сексе, в которые я реально верила и
                                из-за этого боялась попробовать. Неожиданно, интересно и полезно!</p>
                        </div>
                    </div>
                    <div class="col-md-4 card reviews-card-item">
                        <div class="card-content">
                            <div class="card-head">
                                <img src="../img/review-avatar.png" alt="#" class="card-img-top">
                                <p class="card-title">Надежда</p>
                            </div>

                            <p class="card-text medium">Я пришла к Юле, потому что у меня возникли проблемы с мужем. Он
                                совсем не хотел меня. Хотя я удовлетворяла его как могла, не прося ничего взамен.
                                Реакции -
                                никакой. Я даже начала подозревать его в изменах. Но благодаря Юле я поняла, что делаю
                                не
                                так и как нужно делать правильно. Я успокоилась, потому что поняла, что проблема не во
                                мне.
                                После тренинга я уже не помню, чтобы мне приходилось уговаривать мужа заняться со мной
                                сексом. Он сам проявляет инициативу, и я очень счастлива)) Ждем вас снова в Харькове)</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4 review-btn-box">
                        <a href="#review-end" class="js-btn review-btn-link "><button class="review-btn white-text uppercase unclick">Смотреть
                                все</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>