<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h4 class="introduce-h4 main-title">Привет, меня зовут Юлия Гайворонская</h4>
            <p class="introduce-under-h main-under-title">и я уже 4 года занимаюсь сексологией</p>
        </div>
        <div class="col-md-6 introduce-box introduce-heder-left">
            <img src="#" alt="#" class="introduce-image">
        </div>
        <div class="col-md-6 introduce-box introduce-heder-right">
            <p class="main-text">В 2014 году открыла секс-шоп "Gayvoronskaya sex-shop", где продаю пикантные игрушки и
                провожу индивидуальные консультации клиентов.</p>
            <p class="main-text">40 000+ человек читают и смотрят мои блоги в Instagram, Facebook и на Youtube. Там я делаю
                обзоры новинок в мире секс-игрушек, отвечаю на вопросы читателей/зрителей и развенчиваю мифы о сексе</p>
            <p class="main-text">Мои статьи и обзоры публиковались на Tocka.net, Vogue.ua, Elle, Obozrevatel, Citrus и
                других.</p>
            <p class="main-text">Выступала в качесве эксперта на обозревательной программе для женщин Selfmade Woman.</p>
            <p class="main-text">В 2016 году запустила авторский проект "Реальный Секс". Сначала он был в формате встречи с
                клиентами для обзора секс-игрушек.</p>
            <p class="main-text">Мы получали хорошие отзывы - интерес аудитории постоянно рос. Поэтому со временем проект
                "вырос" в однодневный тренинг, который мы провели уже в 8 городах Украины.</p>
            <p class="main-text">С 2017 года обучаюсь в Московском институте сексологии.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 introduce-box introduce-footer-left">
            <p class="main-text">В этом году совместно с клиникой пластической хирургии "Медикал Клаб" я заупустила
                научно-блогерский проект "The Секс" на Youtube-канале.</p>
            <p class="main-text">С 2018 года веду передачу "Реальный Секс" на телеканале "36,6 TV".</p>
            <p class="main-text">Постоянно повышаю квалификацию сексолога и развиваюсь в этом направлении: посещаю новые
                тренинги и слежу за новинками секс-индустрии.</p>
        </div>
        <div class="col-md-6 introduce-box introduce-footer-right">
            <img src="#" alt="#" class="introduce-image">
        </div>
    </div>