<div class="container introduce-container">
    <div class="row">
        <div class="col-md-8 introduce-img-box">
            <picture>
                <source srcset="../img/DSC_8653-18.png,
                            ../img/DSC_8653-18@2x.png 2x">
                <img src="../img/DSC_8653-18.png" alt="Yulia_Gaivoronskaya" class="introduce-image-top">
            </picture>
            <picture>
                <source srcset="../img/intro-bot.png,
                                ../img/intro-bot@2x.png 2x"
                    type="image/png">
                <img src="../img/intro-bot.png" alt="Yulia_Gaivoronskaya" class="introduce-image-end">
            </picture>
        </div>
        <div class="col introduce-text-box">
            <div class="introduce-title-box">
                <p class="introduce-title bold"><span>Привет,</span> меня зовут Юлия Гайворонская</p>
                <p class="introduce-under-h white-text bold">&nbsp;и я уже 4 года занимаюсь &nbsp;
                    &nbsp;сексологией&nbsp;</p>
            </div>
            <p class="main-text medium">В 2014 году открыла секс-шоп "Gayvoronskaya sex-shop", где продаю пикантные игрушки и
                провожу индивидуальные консультации клиентов.</p>

            <p class="main-text medium">40 000+ человек читают и смотрят мои блоги в Instagram, Facebook и на Youtube. Там я
                делаю
                обзоры новинок в мире секс-игрушек, отвечаю на вопросы читателей/зрителей и развенчиваю мифы о сексе</p>

            <p class="main-text medium">Мои статьи и обзоры публиковались на Tocka.net, Vogue.ua, Elle, Obozrevatel, Citrus и
                других.</p>

            <p class="main-text medium">Выступала в качесве эксперта на обозревательной программе для женщин Selfmade Woman.</p>

            <p class="main-text medium">В 2016 году запустила авторский проект "Реальный Секс". Сначала он был в формате
                встречи с
                клиентами для обзора секс-игрушек.</p>

            <p class="main-text medium">Мы получали хорошие отзывы - интерес аудитории постоянно рос. Поэтому со временем
                проект
                "вырос" в однодневный тренинг, который мы провели уже в 8 городах Украины.</p>

            <p class="main-text medium">С 2017 года обучаюсь в Московском институте сексологии.</p>

            <p class="main-text medium">В этом же году совместно с клиникой пластической хирургии "Медикал Клаб" я заупустила
                научно-блогерский проект "The Секс" на Youtube-канале.</p>

            <p class="main-text medium">С 2018 года веду передачу "Реальный Секс" на телеканале "36,6 TV".</p>

            <p class="main-text medium">Постоянно повышаю квалификацию сексолога и развиваюсь в этом направлении: посещаю
                новые
                тренинги и слежу за новинками секс-индустрии.</p>
        </div>
    </div>
</div>