<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h4 class="schedule-h4 main-title">Расписание встречи</h4>
            <p class="schedule-under-h main-under-title">(После каждого блока - сессия "Вопрос-ответ" с разбором ваших
                ситаций)</p>
        </div>
        <div class="col-12">
            <ul class="timeline">
                
                <li class="event" data-date="9:30-10:00">
                    <h4>Регистрация участников</h4>
                </li>
                <li class="event" data-date="10:00-11:15">
                    <h5>Блок 1</h5>
                    <p>Почему люди занимаются сексом, мифы и различиямежду мужчиной и женщиной.</p>
                    <div class="event-hidden-text hidden">
                        <p class="main-text">1. Мужские и женские комплексы.</p>
                        <p class="main-text">2. Как правильно реагировать на купленную игрушку?</p>
                        <p class="main-text">3. Как подобрать игрушки в пару?</p>
                        <p class="main-text">4. Зачем нужна косметика для секса, и что конкретно подойдет мне?</p>
                        <p class="main-text">5. Тест-драйв новинок: жидкие вибраторы, масла, свечи. Все девайсы можно
                            подержать в руках и понять разницу. После такой информации для тебя будет легим поиск и
                            покупка таких девайсов в любой точке мира.</p>
                    </div>
                    <p class="event-show-more">Подробнее <span class="show-arrow">sort-down arrow / sort-up</span></p>
                </li>
                <li class="event" data-date="11:15-12:45">
                    <h5>Блок 2</h5>
                    <p>Что такое сексуальное возбуждение, как наступает оргазм и какие виды оргазмов бывают.</p>
                    <div class="event-hidden-text hidden">
                        <p class="main-text">1. Мужские и женские комплексы.</p>
                        <p class="main-text">2. Как правильно реагировать на купленную игрушку?</p>
                        <p class="main-text">3. Как подобрать игрушки в пару?</p>
                        <p class="main-text">4. Зачем нужна косметика для секса, и что конкретно подойдет мне?</p>
                        <p class="main-text">5. Тест-драйв новинок: жидкие вибраторы, масла, свечи. Все девайсы можно
                            подержать в руках и понять разницу. После такой информации для тебя будет легим поиск и
                            покупка таких девайсов в любой точке мира.</p>
                    </div>
                    <p class="event-show-more">Подробнее <span class="show-arrow">sort-down arrow / sort-up</span></p>
                </li>
                <li class="event" data-date="12:45-13:45">
                    <p>Кофе-пауза.</p>
                </li>
                <li class="event" data-date="13:45-14:50">
                    <h5>Блок 3</h5>
                    <p>Вагинальный секс.</p>
                    <div class="event-hidden-text hidden">
                        <p class="main-text">1. Мужские и женские комплексы.</p>
                        <p class="main-text">2. Как правильно реагировать на купленную игрушку?</p>
                        <p class="main-text">3. Как подобрать игрушки в пару?</p>
                        <p class="main-text">4. Зачем нужна косметика для секса, и что конкретно подойдет мне?</p>
                        <p class="main-text">5. Тест-драйв новинок: жидкие вибраторы, масла, свечи. Все девайсы можно
                            подержать в руках и понять разницу. После такой информации для тебя будет легим поиск и
                            покупка таких девайсов в любой точке мира.</p>
                    </div>
                    <p class="event-show-more">Подробнее <span class="show-arrow">sort-down arrow / sort-up</span></p>
                </li>
                <li class="event" data-date="14:50-15:50">
                    <h5>Блок 4</h5>
                    <p>Как разнообразить секс. Комплексы в постели. Зачем нужны игрушки, и как их правильно выбрать.</p>
                    <div class="event-hidden-text hidden">
                        <p class="main-text">1. Мужские и женские комплексы.</p>
                        <p class="main-text">2. Как правильно реагировать на купленную игрушку?</p>
                        <p class="main-text">3. Как подобрать игрушки в пару?</p>
                        <p class="main-text">4. Зачем нужна косметика для секса, и что конкретно подойдет мне?</p>
                        <p class="main-text">5. Тест-драйв новинок: жидкие вибраторы, масла, свечи. Все девайсы можно
                            подержать в руках и понять разницу. После такой информации для тебя будет легим поиск и
                            покупка таких девайсов в любой точке мира.</p>
                    </div>
                    <p class="event-show-more">Подробнее <span class="show-arrow">sort-down arrow / sort-up</span></p>
                </li>
                <li class="event" data-date="15:50-16:50">
                    <h5>Блок 5</h5>
                    <p>Анальный секс.</p>
                    <div class="event-hidden-text hidden">
                        <p class="main-text">1. Мужские и женские комплексы.</p>
                        <p class="main-text">2. Как правильно реагировать на купленную игрушку?</p>
                        <p class="main-text">3. Как подобрать игрушки в пару?</p>
                        <p class="main-text">4. Зачем нужна косметика для секса, и что конкретно подойдет мне?</p>
                        <p class="main-text">5. Тест-драйв новинок: жидкие вибраторы, масла, свечи. Все девайсы можно
                            подержать в руках и понять разницу. После такой информации для тебя будет легим поиск и
                            покупка таких девайсов в любой точке мира.</p>
                    </div>
                    <p class="event-show-more">Подробнее <span class="show-arrow">sort-down arrow / sort-up</span></p>
                </li>
                <li class="event" data-date="16:50 - 18:00">
                    <h5>Блок 6</h5>
                    <p>Оральный секс.</p>
                    <div class="event-hidden-text hidden">
                        <p class="main-text">1. Мужские и женские комплексы.</p>
                        <p class="main-text">2. Как правильно реагировать на купленную игрушку?</p>
                        <p class="main-text">3. Как подобрать игрушки в пару?</p>
                        <p class="main-text">4. Зачем нужна косметика для секса, и что конкретно подойдет мне?</p>
                        <p class="main-text">5. Тест-драйв новинок: жидкие вибраторы, масла, свечи. Все девайсы можно
                            подержать в руках и понять разницу. После такой информации для тебя будет легим поиск и
                            покупка таких девайсов в любой точке мира.</p>
                    </div>
                    <p class="event-show-more">Подробнее <span class="show-arrow">sort-down arrow / sort-up</span></p>
                </li>
                <li class="event last-event" data-date="">
                    <h5>Завершение.</h5>
                </li>
            </ul>
        </div>
    </div>
</div>