<div class="schedule-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h4 class="schedule-h4 main-title white-text">Расписание встречи</h4>
                <p class="schedule-under-h main-under-title italic white-text">После каждого блока - сессия
                    "Вопрос-ответ" с разбором
                    ваших
                    ситаций</p>
            </div>

            <div class="col-12">
                <div class="timeline-container">
                    <ul class="timeline">
                        <li class="event reg-event" data-date="9:30-10:00">
                            <p class="event-section bold">Регистрация участников</p>
                        </li>
                        <li class="event" data-date="10:00-11:15">
                            <p class="event-section">Блок 1</p>
                            <p class="event-title bold">Почему люди занимаются сексом, мифы и различия между мужчиной
                                и женщиной.</p>

                            <ol class="event-hidden-text hidden">
                                <li class="main-text"> Какая разница между занятием любовью у мужчин и женщин?</li>
                                <li class="main-text"> Что влияет на желание заниматься сексом?</li>
                                <li class="main-text"> Как хотеть секса чаще и где брать силы?</li>
                                <li class="main-text"> Что такое сексуальные фантазии, и как понять, где их искать?</li>
                                <li class="main-text"> Секс и сексуальность до рождения детей и после, как реагировать
                                    на изменения?</li>
                                <li class="main-text">Практики по поиску эрогенных зон.</li>
                                <li class="main-text">Как устроены женщины и мужчины через призму секса, и что важно
                                    знать о себе?</li>
                            </ol>
                            <p class="event-show-more medium uppercase">Подробнее <span class="show-arrow">&#9660</span></p>
                        </li>
                        <li class="event" data-date="11:15-12:45">
                            <p class="event-section">Блок 2</p>
                            <p class="event-title bold">Что такое сексуальное возбуждение, как наступает оргазм и какие
                                виды оргазмов бывают.</p>
                            <ol class="event-hidden-text hidden">
                                <li class="main-text"> Чем отличается оргазм мужчины от оргазма женщины?</li>
                                <li class="main-text"> Стадии возбуждения у женщин и мужчин: кого что включает на секс?</li>
                                <li class="main-text">Что такое оргазм? Как понять, что оргазм был? Как ориентироваться
                                    в типах и видах оргазма? Как это влияет на ваши результаты в сексе?</li>
                                <li class="main-text"> Как отключать голову во время секса, на чем концентрироваться?</li>
                                <li class="main-text"> Почему многие девушки боятся оргазмировать? Почему имитируют?</li>
                                <li class="main-text"> Фазы мужского оргазма. Отличие фаз мужского оргазма от женского
                                    (пример на графике).</li>
                            </ol>
                            <p class="event-show-more medium uppercase">Подробнее <span class="show-arrow">&#9660</span></p>
                        </li>
                        <li class="event" data-date="12:45-13:45">
                            <p class="event-section">Кофе-пауза.</p>
                        </li>
                        <li class="event" data-date="13:45-14:50">
                            <p class="event-section">Блок 3</p>
                            <p class="event-title bold">Вагинальный секс.</p>
                            <ol class="event-hidden-text hidden">
                                <li class="main-text"> Прелюдия и что является разнообразием.</li>
                                <li class="main-text"> Вагинальный секс в деталях: что нужно знать о себе, чтобы лучше
                                    понимать свою природу и ощущения?</li>
                                <li class="main-text"> Боль во время секса, причины и что с этим делать?</li>
                                <li class="main-text"> Почему наш секс не такой, как у других, и не такой, как в порно?</li>
                                <li class="main-text"> Сколько поз нужно применять? Для чего придумали камасутру? Что
                                    такое интимные углы?</li>
                                <li class="main-text"> Почему некоторым из нас нужно много времени, чтобы возбудиться?
                                    И чем плох секс при слабом возбуждении?</li>
                                <li class="main-text"> Поиск зоны G, конкретная пошаговая методика ее поиска самой и с
                                    партнером.</li>
                            </ol>
                            <p class="event-show-more medium uppercase">Подробнее <span class="show-arrow">&#9660</span></p>

                        </li>
                        <li class="event" data-date="14:50-15:50">
                            <p class="event-section">Блок 4</p>
                            <p class="event-title bold">Как разнообразить секс. Комплексы в постели. Зачем нужны
                                игрушки, и как их правильно выбрать.</p>
                            <ol class="event-hidden-text hidden">
                                <li class="main-text"> Мужские и женские комплексы.</li>
                                <li class="main-text"> Как правильно реагировать на купленную игрушку?</li>
                                <li class="main-text"> Как подобрать игрушки в пару?</li>
                                <li class="main-text"> Зачем нужна косметика для секса, и что конкретно подойдет мне?</li>
                                <li class="main-text"> Тест-драйв новинок: жидкие вибраторы, масла, свечи. Все девайсы
                                    можно
                                    подержать в руках и понять разницу. После такой информации для тебя будет легим
                                    поиск и
                                    покупка таких девайсов в любой точке мира.</li>
                            </ol>
                            <p class="event-show-more medium uppercase">Подробнее <span class="show-arrow">&#9660</span></p>
                        </li>
                        <li class="event" data-date="15:50-16:50">
                            <p class="event-section">Блок 5</p>
                            <p class="event-title bold">Анальный секс.</p>
                            <ol class="event-hidden-text hidden">
                                <li class="main-text"> Как правильно подготовиться?</li>
                                <li class="main-text"> Противопоказания.</li>
                                <li class="main-text"> Массаж анальной области как часть подготовки к АС.</li>
                                <li class="main-text"> Как правильно использовать смазки и игрушки?</li>
                                <li class="main-text"> Как именно вводят пробочку, и когда уже собственно переходить от
                                    анальной стимуляции к анальному сексу?</li>
                                <li class="main-text"> Как часто можно заниматься АС?</li>
                            </ol>
                            <p class="event-show-more medium uppercase">Подробнее <span class="show-arrow">&#9660</span></p>
                        </li>
                        <li class="event" data-date="16:50 - 18:00">
                            <p class="event-section">Блок 6</p>
                            <p class="event-title bold">Оральный секс.</p>
                            <ol class="event-hidden-text hidden">
                                <li class="main-text"> Оральный секс для нее: как нужно, как нельзя, как спрашивать ее,
                                    чтобы не обидеть.</li>
                                <li class="main-text"> 7 массажных техник для ярких оргазмов.</li>
                                <li class="main-text"> Оральный секс для него. Типичные ошибки, основы минета.</li>
                                <li class="main-text"> 7 феерических техник, после которых секс заиграет новыми
                                    красками.</li>
                                <li class="main-text"> Основы массажа простаты.</li>
                            </ol>
                            <p class="event-show-more medium uppercase">Подробнее <span class="show-arrow">&#9660</span></p>
                        </li>
                        <li class="event last-event" data-date="">
                            <p class="event-section bold">Завершение.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>