<div class="container timer-container">
    <div class="row timer-row">
        <div class="col-md-6 timer-img">
            <picture>
                <source srcset="img/banana.png,
                                    img/banana@2x.png 2x">
                <img src="img/banana.png" alt="banana">
            </picture>
        </div>
        <div class="col-md-6 align-self-center ">
            <div class="pink-box">
                <div class="row justify-content-center text-left">
                    <div class="col-md-9 ">
                        <div class="row pink-inside-row">
                            <div class="col-12 top-case">
                                <p class="white-text uppercase medium">Регистрируйся в течение 8 минут и <span class="bold">получи
                                        бонус:</span></p>
                            </div>
                            <div class="row ">
                                <div class="col-12 mid-case">
                                    <div class="row">
                                        <div class="col-3 align-self-center">
                                            <img src="img/present-pdf.png" alt="present-pdf" class="header-book-img">
                                        </div>
                                        <div class="col-7 text-book-col align-self-center">
                                            <p class="header-book-text white-text bold">PDF-методичка по оральному сексу</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row relative justify-content-center">

                                        <div class="col-11 timer-case text-center">
                                            <div class="row justify-content-around ">
                                                <div class="col-3">
                                                    <p id="time-hour" class="white-text timer-value bold">00&nbsp:</p>
                                                    <p class="white-text timer-text">час.</p>
                                                </div>
                                                <div class="col-3">
                                                    <p id="time-min" class="white-text timer-value bold">08:</p>
                                                    <p class="white-text timer-text">мин.</p>

                                                </div>
                                                <div class="col-3">
                                                    <p id="time-sec" class="white-text timer-value bold">00:</p>
                                                    <p class="white-text timer-text">сек.</p>
                                                </div>
                                                <div class="col-3">
                                                    <p id="time-msec" class="white-text timer-value bold">00</p>
                                                    <p class="white-text timer-text">м.сек.</p>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="arrow-case align-self-center"><img src="img/header-arrow.png"
                                                alt="arrow"></div>


                                        <div class="col-11 bot-case">
                                            <button class="js-btn header-btn unclick max-width text-center uppercase bold">
                                                Участвовать
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>