<div class="row timer-row">
    <div class="col-md-6 text-center timer">
        <img src="#" alt="#" class="eight-hours-footer-img">
    </div>
    <div class="col-md-6">
        <p class="roboto white-text uppercase">Регистрируйся в течение(И) 8 минут и получи бонус:</p>
        <p class="header-timer-text white-text roboto">PDF-методика по оральному сексу</p>
        <h2 class="white-text timer-value" id="timer">00:00:00:00:00</h2>
        <button id="get-in" class="header-btn max-width">Учавствовать</button>
    </div>
</div>