<div class="container how-it-container">
    <div class="row justify-content-center">
        <div class="col-12">
            <h4 class="reviews-short-h4 main-title text-center">Как проходят наши встречи:</h4>
        </div>
        <div class="col-8">
            <div class="slider-for">
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/1.jpg,
                                            ../img/slider/1@2x.jpg 2x">
                        <img src="../img/slider/1.jpg">
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/2.jpg, ../img/slider/2@2x.jpg 2x">
                        <img src="../img/slider/2.jpg">
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/3.jpg, ../img/slider/3@2x.jpg 2x">
                        <img src="../img/slider/3.jpg">
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/4.jpg, ../img/slider/4@2x.jpg 2x">
                        <img src="../img/slider/4.jpg">
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/5.jpg, ../img/slider/5@2x.jpg 2x">
                        <img src="../img/slider/5.jpg">
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/6.jpg, ../img/slider/6@2x.jpg 2x">
                        <img src="../img/slider/6.jpg">
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/7.jpg, ../img/slider/7@2x.jpg 2x">
                        <img src="../img/slider/7.jpg">
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/8.jpg, ../img/slider/8@2x.jpg 2x">
                        <img src="../img/slider/8.jpg">
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/9.jpg, ../img/slider/9@2x.jpg 2x">
                        <img src="../img/slider/9.jpg">
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/10.jpg, ../img/slider/10@2x.jpg 2x">
                        <img src="../img/slider/10.jpg">
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/11.jpg, ../img/slider/11@2x.jpg 2x">
                        <img src="../img/slider/11.jpg">
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/12.jpg, ../img/slider/12@2x.jpg 2x">
                        <img src="../img/slider/12.jpg">
                    </picture>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="slider-nav">
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/1.jpg,
                                        ../img/slider/1@2x.jpg 2x">
                        <img src="../img/slider/1.jpg" >
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/2.jpg, ../img/slider/2@2x.jpg 2x">
                        <img src="../img/slider/2.jpg" >
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/3.jpg, ../img/slider/3@2x.jpg 2x">
                        <img src="../img/slider/3.jpg" >
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/4.jpg, ../img/slider/4@2x.jpg 2x">
                        <img src="../img/slider/4.jpg" >
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/5.jpg, ../img/slider/5@2x.jpg 2x">
                        <img src="../img/slider/5.jpg" >
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/6.jpg, ../img/slider/6@2x.jpg 2x">
                        <img src="../img/slider/6.jpg" >
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/7.jpg, ../img/slider/7@2x.jpg 2x">
                        <img src="../img/slider/7.jpg" >
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/8.jpg, ../img/slider/8@2x.jpg 2x">
                        <img src="../img/slider/8.jpg" >
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/9.jpg, ../img/slider/9@2x.jpg 2x">
                        <img src="../img/slider/9.jpg" >
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/10.jpg, ../img/slider/10@2x.jpg 2x">
                        <img src="../img/slider/10.jpg" >
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/11.jpg, ../img/slider/11@2x.jpg 2x">
                        <img src="../img/slider/11.jpg" >
                    </picture>
                </div>
                <div class="slider-item">
                    <picture>
                        <source srcset="../img/slider/12.jpg, ../img/slider/12@2x.jpg 2x">
                        <img src="../img/slider/12.jpg" >
                    </picture>
                </div>
            </div>
        </div>

    </div>


</div>