<div class="container-fluid map-container">
    <div class="row">
        <div id="google-map"></div>
        <div class="container place-container">
            <div class="col col-md-6 col-lg-5">
                <div class="pink-box">
                    <div class="row main-pink-row">
                        <div class="col-12 place-title-block">
                            <p class="white-text bold place-title">Где и когда:</p>
                        </div>
                        <div class="col-12">
                            <div class="media address-box">
                                <img src="img/place-marker.png" alt="" class="d-flex align-self-start place-img">
                                <div class="media-body ">
                                    <p class="white-text bold place-info-address uppercase ">Киев,</p>
                                    <p class="white-text bold place-info-address ">Большая Васильковская, 132</p>
                                </div>
                            </div>
                            <div class="media date-box">
                                <img src="img/place-calendar.png" alt="" class="d-flex align-self-start place-img">
                                <div class="media-body ">
                                    <p class="white-text bold place-info-date uppercase">15 марта</p>
                                    <p class="white-text bold place-info-date ">10:00-18:00</p>
                                </div>
                            </div>
                            <div class="media phone-box">
                                <img src="img/place-phone.png" alt="" class="d-flex align-self-start place-img">
                                <div class="media-body">
                                    <p class="white-text bold place-info-phone">(+1) 615-718-7142</p>
                                    <p class="white-text bold place-info-phone">(+1) 541-524-7117</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>