<div class="review-bg">
    <div class="container review-short-container review-end-container">
        <div class="row">
            <div class="col reviews-short-box ">
                <h4 id="review-end" class="reviews-short-h4 main-title text-center">Отзывы <span class="review-span">(все)</span>
                </h4>
                <div class="row justify-content-around card-deck end-card-deck">
                    <div class="col-md-6 card reviews-card-item">
                        <div class="card-content">
                            <img src="../img/Reviews/1.jpg">
                        </div>
                        <div class="card-content">
                            <img src="../img/Reviews/3.jpg">
                        </div>
                        <div class="card-content">
                            <img src="../img/Reviews/5.jpg">
                        </div>
                        <div class="card-content">
                            <img src="../img/Reviews/7.jpg">
                        </div>
                        <div class="card-content">
                            <img src="../img/Reviews/9.jpg">
                        </div>
                        <div class="card-content">
                            <img src="../img/Reviews/11.jpg">
                        </div>

                    </div>
                    <div class="col-md-6 card reviews-card-item">
                        <div class="card-content">
                            <img src="../img/Reviews/2.jpg">
                        </div>
                        <div class="card-content">
                            <img src="../img/Reviews/4.jpg">
                        </div>
                        <div class="card-content">
                            <img src="../img/Reviews/6.jpg">
                        </div>
                        <div class="card-content">
                            <img src="../img/Reviews/8.jpg">
                        </div>
                        <div class="card-content">
                            <img src="../img/Reviews/10.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>