<div class="review-bg">
    <div class="container review-short-container review-end-container">
        <div class="row">
            <div class="col reviews-short-box ">
                <h4 id="review-end" class="reviews-short-h4 main-title text-center">Отзывы <span class="review-span">(все)</span>
                </h4>
                <div class="row justify-content-around card-deck end-card-deck">
                    <div class="col-md-4  reviews-card-item text-left">
                        <!-- CARD 1.1 -->
                        <div class="row card-row">
                            <div class="col-12 card">
                                <div class="card-content">
                                    <div class="card-head">
                                        <img src="../img/review-avatar.png" alt="#" class="card-img-top">
                                        <p class="card-title">Аня</p>
                                    </div>

                                    <p class="card-text medium">На тренинг меня позвала за компанию подруга. Не могу
                                        сказать
                                        что
                                        тема секса была для меня покрыта тайной, но в процессе действительно стало
                                        настолько
                                        интересно, что хочу ещё! Когда Юлия снова приедет в Днепр - уже я буду тащить
                                        подругу)</p>
                                </div>
                            </div>
                        </div>
                        <!-- CARD 1.2 -->
                        <div class="row card-row">
                                <div class="col-12 card">
                                    <div class="card-content">
                                        <div class="card-head">
                                            <img src="../img/review-avatar.png" alt="#" class="card-img-top">
                                            <p class="card-title">Светлана</p>
                                        </div>
    
                                        <p class="card-text medium">Не думала, что меня можно чем-то удивить в теме секса. Уже ходила на подобные тренинги, которые заявляли переворот сексуальной жизни, но так и не перевернули. Юлия - моя находка! Серьезно, более крутой атмосферы на тренинге я не встречала ни у кого! Информация без воды, все ситуации разбираются по деталям, и всем уделяется внимание! Спасибо за классный опыт и интересное общение! 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        <!-- CARD 1.3 -->
                        <div class="row card-row">
                            <div class="col-12 card">
                                <div class="card-content">
                                    <div class="card-head">
                                        <img src="../img/review-avatar.png" alt="#" class="card-img-top">
                                        <p class="card-title">Евгения</p>
                                    </div>

                                    <p class="card-text medium">Пошла на тренинг из-за огромного комплекса.Ему нужно
                                        много и часто, а я часто испытываю дискомфорт, но терплю, чтоб он не посчитал
                                        меня фригидной, и не ушёл удовлетворять себя с кем-то. Каким может быть секс! Я
                                        даже не представляла себе всего разнообразия девайсов, которые помогают
                                        доставить удовольствие обоим партнерам и как можно на самом деле заниматься
                                        сексом в удовольствие! Вы спасли мою сексуальную жизнь!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- CARD 1.4 -->
                        <div class="row card-row">
                            <div class="col-12 card">
                                <div class="card-content">
                                    <div class="card-head">
                                        <img src="../img/review-avatar.png" alt="#" class="card-img-top">
                                        <p class="card-title">Вика</p>
                                    </div>

                                    <p class="card-text medium">У нас с мужем в сексе все хорошо. Но мне не хватало
                                        разнообразия. Я хотела попробовать новые штучки, но все боялась, откладывала.
                                        Вы же развеяли мои страхи и сомнения, я даже приобрела пару игрушек! Наша
                                        сексуальная жизнь с партнером стала в разы ярче!! Я очень благодарна, что
                                        встретила вас))
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  reviews-card-item text-left">
                        <!-- CARD 2.1 -->
                        <div class="row card-row">
                            <div class="col-12 card">
                                <div class="card-content">
                                    <div class="card-head">
                                        <img src="../img/review-avatar.png" alt="#" class="card-img-top">
                                        <p class="card-title">Ирэн</p>
                                    </div>

                                    <p class="card-text medium">Я шла на тренинг не ожидая ничего. Потому что думала,
                                        что расскажут полную чушь: почувствуй себя богиней, будь страстной кошечкой и
                                        т.д. Но получилось вообще иначе. Юлия понятно и открыто говорила о сексе, о
                                        реальном, а не том, что в кино и в рассказах. И развенчала мифы об анальном
                                        сексе, в которые я реально верила и из-за этого боялась попробовать.
                                        Неожиданно, интересно и полезно!</p>
                                </div>
                            </div>
                        </div>
                        <!-- CARD 2.2 -->
                        <div class="row card-row">
                            <div class="col-12 card">
                                <div class="card-content">
                                    <div class="card-head">
                                        <img src="../img/review-avatar.png" alt="#" class="card-img-top">
                                        <p class="card-title">Ольга</p>
                                    </div>

                                    <p class="card-text medium">Мне очень понравилась атмосфера на тренинге. Можно было
                                        доверить свои переживания, задать вопросы и получить реальные ответы на них.
                                        Прошло две недели с момента тренинга и мне реально пригодились те знания, что
                                        дала Юлия, применяю их в жизни) Действительно, сексуальная жизнь делится на
                                        «до» и «после»! Жду ещё, когда вы приедете в Николаев
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- CARD 2.3 -->
                        <div class="row card-row">
                            <div class="col-12 card">
                                <div class="card-content">
                                    <div class="card-head">
                                        <img src="../img/review-avatar.png" alt="#" class="card-img-top">
                                        <p class="card-title">Влад</p>
                                    </div>

                                    <p class="card-text medium">Мы с женой уже 5 лет вместе и решили внести в
                                        сексуальную жизнь что-то новое. Я не очень хотел идти на живой тренинг, но жена
                                        уломала и я ни разу не пожалел. Было круто, а у нас будет ещё круче!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- CARD 2.4 -->
                        <div class="row card-row">
                            <div class="col-12 card">
                                <div class="card-content">
                                    <div class="card-head">
                                        <img src="../img/review-avatar.png" alt="#" class="card-img-top">
                                        <p class="card-title">Елена</p>
                                    </div>

                                    <p class="card-text medium">Здравствуйте! Я имею большой опыт в сексе. Какой у меня
                                        только не был)) И я очень люблю развиваться в этом направлении, поэтому
                                        постоянно посещаю все новые тренинги и мастер-классы. К Юле шла просто из
                                        любопытства. Но сразу же на тренинге влюбилась в ее подачу и в нее саму. Даже
                                        я, опытная мадам, почерпнула для себя много нового. И отдельное спасибо за
                                        возможность вживую ознакомиться с игрушками! Меня то этим не удивишь, но многим
                                        девочкам было ново и полезно)) Спасибо, Юль!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  reviews-card-item text-left">
                        <!-- CARD 3.1 -->
                        <div class="row card-row">
                            <div class="col-12 card">
                                <div class="card-content">
                                    <div class="card-head">
                                        <img src="../img/review-avatar.png" alt="#" class="card-img-top">
                                        <p class="card-title">Надежда</p>
                                    </div>

                                    <p class="card-text medium">Я пришла к Юле, потому что у меня возникли проблемы с
                                        мужем. Он совсем не хотел меня. Хотя я удовлетворяла его как могла, не прося
                                        ничего взамен. Реакции - никакой. Я даже начала подозревать его в изменах. Но
                                        благодаря Юле я поняла, что делаю не так и как нужно делать правильно. Я
                                        успокоилась, потому что поняла, что проблема не во мне. После тренинга я уже не
                                        помню, чтобы мне приходилось уговаривать мужа заняться со мной сексом. Он сам
                                        проявляет инициативу, и я очень счастлива)) Ждем вас снова в Харькове)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- CARD 3.2 -->
                        <div class="row card-row">
                            <div class="col-12 card">
                                <div class="card-content">
                                    <div class="card-head">
                                        <img src="../img/review-avatar.png" alt="#" class="card-img-top">
                                        <p class="card-title">Катя</p>
                                    </div>

                                    <p class="card-text medium">Честно, у меня не много опыта в сексуальной жизни, а спрашивать у кого-то как-то неудобно. В семье не принято было обсуждать эту тему, а у подруг спросить стеснялась. Юлия настолько расположила к себе, и настолько доступно давала информацию! Я получила ответы на все свои вопросы! Круто!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- CARD 3.3 -->
                        <div class="row card-row">
                            <div class="col-12 card">
                                <div class="card-content">
                                    <div class="card-head">
                                        <img src="../img/review-avatar.png" alt="#" class="card-img-top">
                                        <p class="card-title">Алина</p>
                                    </div>

                                    <p class="card-text medium">У меня был нестандартный вопрос, с которым я пришла на тренинг. Мы с мужем вместе 3 года, и все чаще он увиливает от секса. Он мой первый мужчина, в начале отношений все было отлично, поэтому я долго искала причину и поняла её именно на тренинге. Юлия рассказала о том, как можно разнообразить секс, как сделать так, чтоб желание не угасало, как вдохновить своего мужчину. Борщ, конечно, вкусный, но если есть его каждый день.. сами понимаете) Спасибо огромное! Муж снова стал проявлять инициативу и я не боюсь пробовать новое :)

                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>