<div class="container ">
    <div class="row waranty-row">
        <div class="col text-center eight-hours-footer">
            <div class="waranty-img-box">
                <img src="../img/shield.png" alt="man-and-woman-signs" class="eight-hours-footer-img">
            </div>
            <div class="waranty-text-box">
                <h4 class="eight-hours-footer-h main-title bold">Гарантия возврата</h4>
                <p class="waranty-text bold">
                        Чтобы ты была уверена, что совершенно ничем не рискуешь, я даю <br>тебе 100% гарантию возврата средств.
                        <br><br>
                        Если по какой-либо причине тебе не удастся принять участие в <br>тренинге, я верну тебе деньги в полном объеме даже в первый <br>день до обеденного перерыва живого тренинга.
                </p>
                
            </div>
        </div>
    </div>
</div>