<div class="ps-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-7 ps-box">
                <picture>
                    <source srcset="img/ps.png,
                                        img/ps@2x.png 2x">
                    <img src="img/ps.png" alt="ps" class="ps-image">
                </picture>

                <div class="ps-violet">
                    <p class="white-text bold">от автора тренинга Юлии Гайворонской</p>
                </div>
                <div class="ps-main-text-box">
                    <p class="white-text medium ps-main-text">Ты можешь сказать, что и так все знаешь или у тебя нет
                         времени…
                        Но может
                        подумаешь о себе, своих удовольствиях и наслаждениях? О том, как и чего хочешь ТЫ?</p>
                    <p class="white-text medium ps-main-text">Я провожу этот тренинг специально для тебя. За 8 часов
                        ты
                        узнаешь секреты
                        феерических оргазмов, новых поз и техник, чтобы каждый твой секс был, как огонь &mdash; горячий,
                        яркий,
                        зажигающий.
                        Ты пощупаешь и протестишь лучшие секс-игрушки и узнаешь, для чего они, и как это будет
                        ощущаться.
                        Ты начнешь получать настоящее удовольствие от секса, потому что поймешь свои желания и
                        сможешь
                        открыто говорить о них с партнером.
                        Внедряй, экспериментируй, изучай и получай миллионы новых ощущений и удовольствие от себя,
                        партнера
                        и близости с ним. </p>
                    <p class="white-text medium ps-main-text">И помни: талантливыми любовниками не рождаются, <span
                            class="uppercase">ими
                            становятся!</span> </p>
                </div>
                <button class="js-btn header-btn unclick max-width text-center white-text uppercase bold">
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16"
                        role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
                    </svg>
                    Участвовать
                </button>
            </div>
        </div>
    </div>
</div>