<div class="container-fluid wrapper js-modal-backdrop modal-hidden">
  
  <div class="modalbox">
    <img src="img/close-button.png" class="modalbox__close-btn" />
    <form action="https://docs.google.com/forms/u/7/d/e/1FAIpQLSeRx7D0cmlHdL-ubGodAgUV4z2VIRzuNT1h5EdulJ0qsMJnQA/formResponse"
      target="_self" method="POST" id="mG61Hd" class="modalbox__form">
      <!-- FORM HEADER -->
      <div class="form__header">
        <div class="progress-bar strip">
          <p class="progress-value">80% готово</p>
          <span style="width: 80%"><span></span></span>

          <!-- <div class="progress-value">80% готово</div> -->
        </div>
        <p class="form__header--text">
          Почти готово! Пожалуйста, заполните эту форму и нажмите кнопку
          ниже, чтобы участвовать в онлайн мастер-классе
        </p>
      </div>
      <!-- FORM HEAD -->

      <!-- FORM MAIN -->
      <div class="form__main">
        <p class="form__main--text">
          Да, Я <span> (введите ваше имя) </span> <input required="required" type="text" name="entry.1750024443" value=""
            class="form__main--input inp-name">хочу участвовать в Онлайн Мастер-Классе и получить PDF-список
          “ТОП50 товаров из Китая”, которые можно продать в СНГ с наценкой в
          300%
        </p>
        <p class="form__main--text email">
          Вышлите мне доступ на <span>E-mail </span><input required="required" type="email" name="entry.1845770488" value=""
            class="inp-email">
        </p>
        <p class="form__main--text phone">
          Чтобы я 100% не забыл, пришлите мне СМС-напоминание на этот моб.
          тел. <span>(введите номер)</span>:
          <input required="required" type="text" name="entry.466091163" value="" class="inp-phone">
          <datalist id="phone">
            <option value="+7901"></option>
            <option value="+7902"></option>
            <option value="+7903"></option>
            <option value="+7904"></option>
            <option value="+7905"></option>
            <option value="+7906"></option>
          </datalist>
        </p>
      </div>

      <input type="hidden" name="fvv" value="1">
      <input type="hidden" name="draftResponse" value="[null,null,&quot;3403480596078272217&quot;]">
      <input type="hidden" name="pageHistory" value="0">
      <input type="hidden" name="fbzx" value="3403480596078272217">
      <!-- FORM MAIN -->

      <!-- FORM FOOTER -->
      <div class="form__footer">
        <input class="js-btn header-btn unclick max-width text-center white-text uppercase bold" type="submit" value="Участвую!"/>
        <p class="form__footer--text">
          <img src="img/lock.png" /> 100% защита от 3-х лиц
        </p>
      </div>
      <!-- FORM FOOTER -->
    </form>
  </div>
</div>