<div class="footer-wrapper">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-4 text-center ">
                <a href="#" class="bold uppercase footer-link">Политика конфиденциальности</a>
            </div>
            <div class="col-md-4 text-center ">
                <a href="#" class="bold uppercase footer-link">Отказ от ответственности</a>
            </div>
            <div class="col-md-4 text-center ">
                <a href="#" class="bold uppercase footer-link">Согласие с рассылкой</a>
            </div>
        </div>
    </div>
</div>