<div class="footer-wrapper">
    <div class="container">
        <div class="link-box">
            <a href="#" class="bold uppercase footer-link">Политика конфиденциальности</a>
        </div>
        <div class="link-box">
            <a href="#" class="bold uppercase footer-link">Отказ от ответственности</a>
        </div>
        <div class="link-box">
            <a href="#" class="bold uppercase footer-link">Согласие с рассылкой</a>
        </div>

        <div class="link-box sign-box">
                <a href="#" class="bold uppercase footer-link">Разработка: <br><img src="../img/logo-white-copy.png" alt="LeadGen"></a>
        </div>
    </div>
</div>