.header-box {
    padding-top: 7.6875rem;
    padding-bottom: 7rem;
}


// LEFT SIDE HEADER
.header-left {
    background: url(../img/header-left-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .header-date-list {
        list-style: none;
    }

    .header-date {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.002em;
        margin-bottom: 2.260625rem;

        &::before {
            content: url(../img/circle.png);
            width: 0.625rem;
            height: 0.625rem;
            padding-right: 0.6875rem;
        }
    }

    .header-sm-text {
        font-size: 1.375rem;
        font-weight: 300;
    }

    .header-h {
        font-weight: 300;
        font-size: 4.5rem;
        text-transform: uppercase;
        letter-spacing: 0.002em;
        word-wrap: normal;
        line-height: 4.375rem;
        margin-bottom: 3.5625rem;
    }

    .header-under-h {
        font-size: 1.125rem;
        letter-spacing: normal;
        margin-bottom: 3.4375rem;
    }

    .italic {
        font-size: 1.25rem;
    }
}


// RIGHT SIDE HEADER
.header-right {
    background: url(../img/header-right-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .top-case {
        margin-bottom: 1.625rem;
        padding: 0;

        .uppercase {
            font-size: 1.25rem;
            margin-bottom: 0;
        }
    }




    .mid-case {
        margin-bottom: 2.09375rem;

        .text-book-col {
            max-height: max-content;
        }

        .header-book-text {
            font-size: 1.125rem;
        }
    }

    .timer-case {
        margin-bottom: 2.25rem;
        max-width: 100%;

        .timer-value {
            font-size: 3rem;
            letter-spacing: -0.02em;
            line-height: 4.375rem;
            margin-bottom: 0;

            span {
                @media (min-width: 1440px) {
                    padding: 0 0.1625rem;
                }

                @media (min-width: 1600px) {
                    padding: 0 0.3625rem;
                }

                @media (min-width: 1920px) {
                    padding: 0 1.0625rem;
                }
            }
        }

        .timer-text {
            margin-bottom: 0;

        }


    }

    .arrow-case {
        position: absolute;
        right: 1.4375rem;
        top: 24%;
        transform: translate(0, -24%);
        -webkit-transform: translate(0, -24%);
        -moz-transform: translate(0, -24%);
        -ms-transform: translate(0, -24%);
        -o-transform: translate(0, -24%);
}

    .bot-case {
        .header-btn {
            width: 100%;
            background: linear-gradient(to bottom, #ff0000, #af0000);
            border: 0;
            line-height: 4.390625rem;
            font-size: 1.125rem;
            border-radius: 0.375rem;
            -webkit-border-radius: 0.375rem;
            -moz-border-radius: 0.375rem;
            -ms-border-radius: 0.375rem;
            -o-border-radius: 0.375rem;
            box-shadow: 0rem 0.5625rem 1.8125rem rgba(137, 1, 1, 0.82);
            margin-bottom: 2.234375rem;

            &:active,
            &:focus,
            &:hover {
                outline: 0;
                outline-offset: 0;
            }


            svg {
                width: 1.1875rem;
                height: 1.125rem;
                color: #920101;
                box-shadow: inset 0rem 0.0625rem 0.5625rem rgba(82, 0, 0, 0.12);
                line-height: 4.390625rem;
            }
        }
    }
}