@media(min-width: 320px) {

    .just-imagine-wrapper {
        background-image: url(../img/imagine-320-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding-top: 2.68125rem;
        padding-bottom: 4.82625rem;

        .just-imagine-left {
            margin-bottom: 2.3125rem;
        }

        .just-imagine-right {

            .just-imagine-h4 {
                line-height: 3.3125rem;
                margin-bottom: 2.2275rem;
            }

            .white-list::before {
                background-image: url(../img/heart-white.svg);
                padding-left: 0;
            }
        }
    }


}

@media(min-width: 768px) {
    .just-imagine-wrapper {
        background-image: url(../img/imagine-bg.png);
    }
}


@media(min-width: 960px) {

    .just-imagine-list {
        padding-left: 18px;
    }
}