@media(min-width: 320px) {

    .introduce-container {

        .introduce-img-box {
            padding: 0;
            margin-bottom: 2.5rem;

            img {
                width: 100%;
                height: auto;
            }

            .introduce-image-top {
                margin-bottom: 1.1875rem;
            }
        }


        .introduce-text-box {
            padding-bottom: 3.791875rem;

            .introduce-title-box {
                margin-bottom: 3.4075rem;

                .introduce-title {
                    font-size: 2.125rem;
                    line-height: 2.6875rem;

                    span {
                        color: $violet;
                    }
                }

                .violet-text-box {
                    background: $violet;
                    max-width: max-content;
                    padding: 0 0.75rem;

                    .white-text {
                        margin-bottom: 0;
                    }
                }
            }

            .main-text:last-of-type {
                margin: 0;
            }
        }
    }
}


@media(min-width: 768px) {
    .introduce-container {
        padding-top: 3rem;
        margin-bottom: 3rem;
    }
}

@media (min-width: 992px) {

    .introduce-container {
        padding-top: 6.291875rem;
        margin-bottom: 6.4375rem;
        max-height: min-content;

        .introduce-img-box {

            .introduce-image-top {
                margin-bottom: 2.4375rem;
            }
        }

        .introduce-text-box {

            .introduce-title-box {
                margin-bottom: 2.484375rem;

                .introduce-under-h {
                    font-size: 1.25rem;
                }
            }
        }
    }
}