.footer-wrapper {
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        padding: 2.6875rem 0;

        .footer-link {
            color: #b8b8b8;
            text-decoration: none;
        }
    }
}