* {
    font-family: "Gotham Pro", sans-serif;
    letter-spacing: 0.002em;    
}

.bold {
    font-weight: bold;
}

.medium {
    font-weight: medium;
}

.black {
    font-weight: 900;
}

.italic {
    font-style: italic;
}

.white-text {
    color: $white;
}

.hidden {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.relative {
    position: relative;
}

.list-item {
    font-family: "Gotham Pro", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 26px;
    padding-bottom: 29px;
    list-style: none;
    position: relative;

    &::before {
        content: "";
        background-image: url(../img/heart-solid.svg);
        background-repeat: no-repeat;
        background-size: contain;
        width: 12.25px;
        height: 11.25px;
        position: absolute;
        left: -15px;
        top: 5px; 
    }

    &:last-of-type {
        padding-bottom: 0;
    }
}

.main-title {
    font-family: "Gotham Pro", sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.002em;
}
